result
result/
.DS_Store
dotfiles/hammerspoon/Spoons/EmmyLua.spoon/annotations/
.direnv/flake-profile-a5d5b61aa8a61b7d9d765e1daf971a9a578f1cfa
.direnv/flake-profile-a5d5b61aa8a61b7d9d765e1daf971a9a578f1cfa.rc
.direnv/bin/nix-direnv-reload
.direnv/flake-inputs/01x5k4nlxcpyd85nnr0b9gm89rm8ff4x-source
.direnv/flake-inputs/2d5yab2w9b1iv43yfc0xrs016vvz6237-source
.direnv/flake-inputs/4npsb0b7mrjnd259hl4lqwhlcvfl7f38-source
.direnv/flake-inputs/4966i5ggd17nvq2dn6kmkyqbzbb3dlj5-source
.direnv/flake-inputs/dkhbyh0wfv3la37av0a4jn88w43qjl5v-source
.direnv/flake-inputs/hfdckhk2m6azhhdf7msn0nvhvcgzl30y-source
.direnv/flake-inputs/ppnkcmclps4j2fdpc13qlqmxv4wwgwa1-source
.direnv/flake-inputs/q2hbkyvd9ikks0wprx53piwvk7mngg41-source
.direnv/flake-inputs/s4vibs4bafvw3m8cbhdyf417gxsvdxdr-source
.direnv/flake-inputs/yj1wxm9hh8610iyzqnz75kvs6xl8j3my-source
.direnv/flake-inputs/ysmk0ls07aw55cvq24ck5n7cbfa141wc-source
.direnv/flake-inputs/zv3cx7ahkzcyanlqp5wkgi75llpfn8dd-source
